html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.flex-container{
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar span{
    background: -webkit-linear-gradient(#ff6e7f, #bfe9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight:bold
}

body{
    font-family: 'NTR', sans-serif;
    background-color:#282b30;
}

canvas, .overlay{
    position: absolute;
}

.special{
    background: -webkit-linear-gradient(#ff6e7f, #bfe9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.h3{
    padding-top: 50px;
}

h1{
    padding: 0;
    margin-top: 25%;
    color: white;
    font-size:75px;
    height: 75px;
}

h3{
    color: white;
    font-size: 50px;
    height: 50px
}

p{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 25px;
    height: 50px;
}

.about p{
    font-size: 25px;
    height: 20px;
    line-height: 35px;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 50px;
    margin: 30px 30px 10px;
    padding: 5px 30px 5px;
}

.navbar .links{
    float: right;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding-right: 15px;
    font-size: 20px;
    color: white;
}

.navbar a:hover{
    color: #d9a4a3;
    text-decoration: underline;
}

.content{
    padding: 10px 50px;
}

.demo-imgs img{
    width: 233px;
    height: 233px;
    transition: transform .2s;
}

.demo-imgs img:hover{
    transform: scale(1.1);
}

.slidecontainer {
    width: 50%; /* Width of the outside container */
    float: left;
}
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 95%; /* Full-width */
    height: 20px; /* Specified height */
    background: #1e2124; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 50px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 40px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: linear-gradient(to right,#ff6e7f, #bfe9ff); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 15px;
  }

/*
.slider::-moz-range-thumb 
  width: 25px; /* Set a specific slider handle width
  height: 25px; /* Slider handle height 
  background: #04AA6D; /* Green background 
  cursor: pointer; /* Cursor on hover 
}
*/

button{
    padding: 5px 50px;
    margin-right: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 20px;
    font-family: 'NTR', sans-serif;
}

button:hover{
    background: linear-gradient(rgba(255, 110, 127, 0.7), rgba(191, 233, 255, 0.7));
}

footer{
    position: absolute; 
    bottom: 0; width: 100%; 
    height: 3rem;
}

footer i{
    float: right;
    margin-right: 25px;
    font-size: 30px;
    color: grey
}

/* Width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
background: #1e2124;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: linear-gradient(rgba(255, 110, 127, 0.5), rgba(191, 233, 255, 0.5));
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: linear-gradient(#ff6e7f, #bfe9ff);
}